@model _17jul_ShopEase.Models.Category

<h2>Add Category</h2>

<form method="post">

    Category Id

    <br />

    <input asp-for="CategoryId" />

    <br /><br />

    Category Name

    <br />

    <input asp-for="CategoryName" />

    <br /><br />

    <input type="submit" value="Save Category" />

</form>