@{
    ViewData["Title"] = "Delete Category";
}

<h2>Delete Category</h2>

<form>

    Category Id <br />

    <input type="number" />

    <br /><br />

    <input type="submit" value="Delete Category" />

</form>