﻿@{
ViewData["Title"] = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <p>
        Username :
        <input type="text" name="username" />
    </p>

    <p>
        Password :
        <input type="password" name="password" />
    </p>

    <button type="submit">Login</button>

    <p style="color:red">
        @ViewBag.Message
    </p>
}