@model _24July.Models.Student

<div class="text-center">
    <h3 class="display-4">Student Login</h3>
</div>

<form asp-action="Index" method="post">

    <div>
        <label asp-for="Username"></label><br />
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <br />

    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">LOGIN</button>

</form>

<br />

<span class="text-danger">@ViewBag.Error</span>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}