@{
    ViewData["Title"] = "Delivery Address";
}

<h2>Delivery Address</h2>

<form>

    Full Name

    <br />

    <input type="text" />

    <br /><br />

    Address

    <br />

    <textarea></textarea>

    <br /><br />

    City

    <br />

    <input type="text" />

    <br /><br />

    Pincode

    <br />

    <input type="number" />

    <br /><br />

    <input type="submit" value="Confirm Address" />

</form>