@model EmployeeManagementSystem.Models.Employee

@{
    ViewData["Title"] = "Registration Successful";
}

<div class="alert alert-success">Employee Added Successfully</div>

<table class="data-table">
    <tr>
        <th>Employee Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Department</th>
        <td>@Model.Department</td>
    </tr>
</table>

<p>
    <a asp-controller="Department" asp-action="Index" class="btn-submit">View Department Details</a>
</p>