@{
    ViewData["Title"] = "ShopEase";
}

<h1>Welcome To ShopEase</h1>

<hr />

<h3>Customer</h3>

<a href="/Customer/Register">Customer Register</a>

<br />
<br />

<a href="/Customer/Login">Customer Login</a>

<hr />

<h3>Admin</h3>

<a href="/Admin/Login">Admin Login</a>

<hr />

<h3>Shopping</h3>

<a href="/Product/Index">Products</a>

<br />
<br />

<a href="/Category/Index">Categories</a>

<br />
<br />

<a href="/Cart/Index">Shopping Cart</a>

<br />
<br />

<a href="/Order/History">Orders</a>

<br />
<br />

<a href="/Payment/Index">Payment</a>