@model _17jul_ShopEase.Models.Cart

<h2>Add To Cart</h2>

<form method="post">

    Product Name

    <br />

    <input asp-for="ProductName" />

    <br /><br />

    Price

    <br />

    <input asp-for="Price" />

    <br /><br />

    Quantity

    <br />

    <input asp-for="Quantity" />

    <br /><br />

    <input type="submit" value="Add To Cart" />

</form>