@{
    ViewData["Title"] = "Apply Coupon";
}

<h2>Apply Coupon</h2>

<form>

    Coupon Code

    <br />

    <input type="text" />

    <br /><br />

    <input type="submit" value="Apply" />

</form>