@{
    ViewData["Title"] = "Remove Product";
}

<h2>Remove Product</h2>

<form>

    Product Id

    <br />

    <input type="number" />

    <br /><br />

    <input type="submit" value="Remove" />

</form>