@{
    ViewData["Title"] = "Update Quantity";
}

<h2>Update Quantity</h2>

<form>

    Product Id

    <br />

    <input type="number" />

    <br /><br />

    New Quantity

    <br />

    <input type="number" />

    <br /><br />

    <input type="submit" value="Update" />

</form>