@{
    ViewData["Title"] = "Dashboard";
}

<h2>Admin Dashboard</h2>

<hr />

<h3>Welcome Admin</h3>

<ul>

    <li><a href="/Product/Create">Add Product</a></li>

    <li><a href="/Product/Index">View Products</a></li>

    <li><a href="/Category/Index">Manage Categories</a></li>

    <li><a href="/Order/History">View Orders</a></li>

</ul>