@{
    ViewData["Title"] = "Admin Login";
}

<h2>Admin Login</h2>

<form method="post">

    Username

    <br />

    <input type="text" name="username" />

    <br /><br />

    Password

    <br />

    <input type="password" name="password" />

    <br /><br />

    <input type="submit" value="Login" />

</form>

<h3>@ViewBag.Message</h3>