@{
    ViewData["Title"] = "Delete Product";
}

<h2>Delete Product</h2>

<form>

    Product Id <br />
    <input type="number" /><br /><br />

    <input type="submit" value="Delete Product" />

</form>