@model _17jul_ShopEase.Models.Product

<h2>Edit Product</h2>

<form method="post">

    Product Id

    <br />

    <input asp-for="ProductId" readonly />

    <br /><br />

    Product Name

    <br />

    <input asp-for="Name" />

    <br /><br />

    Category

    <br />

    <input asp-for="Category" />

    <br /><br />

    Description

    <br />

    <input asp-for="Description" />

    <br /><br />

    Price

    <br />

    <input asp-for="Price" />

    <br /><br />

    Quantity

    <br />

    <input asp-for="Quantity" />

    <br /><br />

    Brand

    <br />

    <input asp-for="Brand" />

    <br /><br />

    Discount

    <br />

    <input asp-for="Discount" />

    <br /><br />

    Rating

    <br />

    <input asp-for="Rating" />

    <br /><br />

    <input type="submit" value="Update Product" />

</form>